<div class="container">
  <div class="col-4">
		<div class="row mb-4">
			<h2>New User Registration</h2>
			<%= form_with model: @user, class: 'form-control' do |f| %>
				<%# <%= f.label :email %>
				<%= f.text_field :email, class: 'form-control form-control-lg', placeholder: "Enter Your Email" %>
				<%# <%= f.label :username %>
				<%= f.text_field :username, class: 'form-control form-control-lg', placeholder: "Enter Your Username" %>
				<%# <%= f.label :password %> 
					<%= f.password_field :password, class: 'form-control form-control-lg', placeholder: "Enter Your Password" %>
				<%= f.submit 'Sign Up' , class:'btn btn-success' %>
			<% end %>
			<h5><strong> or Login with Google:-</strong></h5>
			<%= button_to 'G', '/auth/google_oauth2', class: 'fab fab-google fa-3x google btn-dark' %> 
			<br><br>
			<%= link_to 'Back to Login page', login_path, class:'btn btn-dark'%>
		</div>
	</div>
</div>
